/* See license.txt for terms of usage */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 10px 0;
}

#regExpContainer {
  font-family: Consolas, Courier New, Monaco, monospace;
  font-size: 20px;
}

#regExp {
  display: inline-block;
  width: inherit;
  height: 20px;
  border: none;
  padding: 0;
  overflow-y: inherit;
  font-family: Consolas, Courier New, Monaco, monospace;
}

.slash,
#flags {
  color: #64648C;
}

#searchStringSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#searchString {
  padding: 0;
  font-family: Consolas, Courier New, Monaco, monospace;
}

